 __pycache__/
 *.pyc
src/iamap/dialogs/packages_installer/__pycache__
src/iamap/icons/__pycache__
src/iamap/utils/__pycache__
assets/test.tif.aux.xml
python*/
features/
utils/__pycache__
icons/__pycache__
dialogs/packages_installer/__pycache__
__pycache__
pyrightconfig.json
models
