geopandas == 0.14.4
scikit-learn == 1.5.1
psutil >= 5.0.0
joblib >= 1.4.0
pytest >= 8.3.0
# torchgeo == 0.5.2
# from torchgeo
rasterio >= 1.2
rtree <= 0.9
einops >= 0.3
fiona >= 1.8.19
kornia >= 0.6.9
numpy >= 1.19.3
pandas >= 1.1.3
pyproj >= 3.3
shapely >= 1.7.1
timm >= 0.4.12
# einops 0.3+ required for einops.repeat
# fiona 1.8.19+ required to fix erroneous warning
# https://github.com/Toblerity/Fiona/issues/986
# kornia 0.6.9+ required for kornia.augmentation.RandomBrightness
# numpy 1.19.3+ required by Python 3.9 wheels
# pandas 1.1.3+ required for Python 3.9 wheels
# pyproj 3+ required for Python 3.9 wheels
# rasterio 1.2+ required for Python 3.9 wheels
# rtree 1+ required for len(index), index & index, index | index
# "rtree>=1",
# shapely 1.7.1+ required for Python 3.9 wheels
# shapely 2.0.2+ required for Python 3.12 support
